[submodule "c++/zestaw-0-mwojtyna"]
	path = c++/zestaw-0-mwojtyna
	url = git@github.com:wfais/zestaw-0-mwojtyna.git
[submodule "c++/laboratorium-3-mwojtyna"]
	path = c++/laboratorium-3-mwojtyna
	url = git@github.com:wfais/laboratorium-3-mwojtyna.git
[submodule "c++/laboratorium-5-mwojtyna"]
	path = c++/laboratorium-5-mwojtyna
	url = git@github.com:wfais/laboratorium-5-mwojtyna.git
[submodule "c++/zestaw-1-mwojtyna"]
	path = c++/zestaw-1-mwojtyna
	url = git@github.com:wfais/zestaw-1-mwojtyna.git
[submodule "c++/laboratorium-6-mwojtyna"]
	path = c++/laboratorium-6-mwojtyna
	url = git@github.com:wfais/laboratorium-6-mwojtyna.git
[submodule "c++/zestaw-2-mwojtyna"]
	path = c++/zestaw-2-mwojtyna
	url = git@github.com:wfais/zestaw-2-mwojtyna.git
[submodule "c++/laboratorium-8-mwojtyna"]
	path = c++/laboratorium-8-mwojtyna
	url = git@github.com:wfais/laboratorium-8-mwojtyna.git
[submodule "c++/laboratorium-9-mwojtyna"]
	path = c++/laboratorium-9-mwojtyna
	url = git@github.com:wfais/laboratorium-9-mwojtyna.git
[submodule "c++/laboratorium-10-mwojtyna"]
	path = c++/laboratorium-10-mwojtyna
	url = git@github.com:wfais/laboratorium-10-mwojtyna.git
[submodule "c++/zestaw-3-mwojtyna"]
	path = c++/zestaw-3-mwojtyna
	url = git@github.com:wfais/zestaw-3-mwojtyna.git
[submodule "c++/laboratorium-11-mwojtyna"]
	path = c++/laboratorium-11-mwojtyna
	url = git@github.com:wfais/laboratorium-11-mwojtyna.git
[submodule "c++/zestaw-4-mwojtyna"]
	path = c++/zestaw-4-mwojtyna
	url = git@github.com:wfais/zestaw-4-mwojtyna.git
[submodule "c++/zestaw-5-mwojtyna"]
	path = c++/zestaw-5-mwojtyna
	url = git@github.com:wfais/zestaw-5-mwojtyna.git
[submodule "c++/laboratorium-12-mwojtyna"]
	path = c++/laboratorium-12-mwojtyna
	url = git@github.com:wfais/laboratorium-12-mwojtyna.git
